@import url('https://fonts.googleapis.com/css?family=Montserrat');

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: max-content;
}

#content > * {
    z-index: 1;
    padding-top: 7vh;
}

#f4d_image{
    width: 50vw;
    max-width: 600px;
    background-color: transparent;
}

#f4d {
    width: 30vw;
}

.animate-once{
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    animation-iteration-count: 1;
    animation: draw 3s linear;
}

 #f4d:hover > .animation-hover{
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    animation-iteration-count: 1;
    animation: draw 3s linear;
}


@keyframes draw {
    from {
        stroke-dashoffset: 400;
    } to {
        stroke-dashoffset: 0;
    }
}


#case_hero {
    position: relative;
    border: 2px solid #4960FF;
    border-radius: 10px;
    min-height: 75px;
    margin-top: 5vh;
    padding: 10px 70px;
    overflow: hidden;
    z-index: 1;
    max-width: 75%;

}

#case_hero>svg{
    max-width: 100%;
}

#case_hero::before {
    content: '';
    position: absolute;
    inset: 0px 0px;
    width: 100px;
    height: 50px;
    background-color: #0022ff;
    /* box-shadow: 120px 80px 40px 20px #0ff; */
    z-index: -1;
    animation: translation 3s infinite;
}



#case_hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 3px;
    border-radius: 10px;
    z-index: -1;
    
}

#case_hero.case_hero_dark::after{
    background: #000000;
}
#case_hero.case_hero_light::after{
    background: #ffffff;
}


@keyframes translation {
    0% {
        top: 0%;
        left: 0%;
    }
    25% {
        top: 0%;
        left: 95%;
    }
    50% {
        top: 90%;
        left: 95%;
    }
    75% {
        top: 90%;
        left: 0%;
    }
    100% {
        top: 0%;
        left: 0%;
    }
}

#text_hero span {
    font-family: Montserrat;
    font-size: 7vh;
    font-weight: 800;
    line-height: 58.51px;
    text-align: center;

}

#text_hero {
    font-family: Montserrat;
    font-size: 7vh;
    font-weight: 100;
    line-height: 58.51px;
    text-align: center;

}

#descri_hero_container {
    width: 65vw;
}

#descri_hero {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: center;

}

#button_hero>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    background: #4960FF;
    border-radius: 30px;
    /* opacity: 0px; */
    justify-content: center;
}

#button_hero>button>p {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    padding-right: 20px;
    padding-left: 10px;
    white-space: nowrap;

}

#button_hero>button>svg {
    margin: 10px;

}



#background {
    position: relative;
    width: 100%;
    height: 100vh;
}

#fond {
    position: absolute;
    top: 0;
    left: 0;

}

#boite {
    position: absolute;
    top: 0;
    left: 0;
}

#boite>g>rect {
    z-index: 1;

}

#boite>g:nth-child(1) {
    transform-origin: center;
    animation: movecube 6s linear infinite;
}

#boite>g:nth-child(2) {
    transform-origin: center;
    animation: movecube 3s linear infinite;
}

#boite>g:nth-child(3) {
    transform-origin: center;
    animation: movecube 2s linear infinite;
}


/* @keyframes movecube {
    0% {
        transform: translateY(0px) rotateZ(0deg);
    }
    50% {
        transform: translateY(100px) rotateZ(20deg);
    }
    100% {
        transform: translateY(0px) rotateZ(0deg);
    }
} */

@keyframes movecube {
    0% {
        transform: translateY(50px 70px) rotateZ(2deg);
    }
    25% {
        transform: translateY(17px, 25px, 0px) rotateZ(27deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    60% {
        transform: translateY(50px 70px) rotateZ(2deg);
    }
    75% {
        transform: translateY(17px, 25px, 0px) rotateZ(27deg);
    }
    100% {
        transform: translateY(50px 70px) rotateZ(2deg);
    }
}

#fond>g {
    animation: movecarre 10s linear infinite;
}

@keyframes movecarre {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

#box {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}